<a href="https://colab.research.google.com/github/maciekbanas/data-science-bootcamp/blob/main/01_wprowadzenie/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas
import pandas as pd

In [6]:
s = pd.Series(data=[3,2,4,6], index = ['a','b','c','d'])
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [8]:
import numpy as np

s = pd.Series(data=[3,np.nan,4,6], index = ['a','b','c','d'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [12]:
s = pd.Series(data=np.arange(10, 20),index = pd.date_range(start='20200101', periods = 10)) 
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [15]:
daty = list(s.index)
daty

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [16]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [18]:
s.dtypes

AttributeError: ignored

In [19]:
s.shape

(10,)

In [31]:
price = pd.Series(data={'Apple': 200, 'CD Projekt': 60, 'Amazon': 1900, 'KGHM': np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [21]:
price['CD Projekt']

60

In [23]:
price[0]

200

In [32]:
price.count()

3

In [38]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [40]:
price.nsmallest(2)

CD Projekt     60.0
Apple         200.0
dtype: float64

In [36]:
price.value_counts(dropna=False)

NaN       1
1900.0    1
60.0      1
200.0     1
dtype: int64

In [27]:
price.sum()

2160

In [41]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [42]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [44]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [47]:
price_pln = price.apply(lambda x: x * 3.8)

In [48]:
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

In [49]:
df = pd.DataFrame(data=[12,12,32])
df

    0
0  12
1  12
2  32

In [57]:
df = pd.DataFrame(data=[[12,12,32],[10,12,13]],index=['first','second'], columns=['col_1','col_2','col_3'])
df

        col_1  col_2  col_3
first      12     12     32
second     10     12     13

In [51]:
df = pd.DataFrame(data={'WIG20': ['PKN Orlen','PKO BP'],
                        'mWIG40': ['Amica','Playway']})
df

       WIG20   mWIG40
0  PKN Orlen    Amica
1     PKO BP  Playway

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WIG20   2 non-null      object
 1   mWIG40  2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [53]:
df.describe()

         WIG20 mWIG40
count        2      2
unique       2      2
top     PKO BP  Amica
freq         1      1

In [54]:
df.describe().T

       count unique     top freq
WIG20      2      2  PKO BP    1
mWIG40     2      2   Amica    1

In [58]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [60]:
df.columns = ['a','b','c']
df

         a   b   c
first   12  12  32
second  10  12  13

In [63]:
df[['b']]

         b
first   12
second  12

In [64]:
df[['d']] = df.a + df.c
df

         a   b   c   d
first   12  12  32  44
second  10  12  13  23

In [65]:
df.loc['first']

a    12
b    12
c    32
d    44
Name: first, dtype: int64

In [66]:
df.iloc[0]

a    12
b    12
c    32
d    44
Name: first, dtype: int64

In [69]:
df.loc[:, 'b']

first     12
second    12
Name: b, dtype: int64

In [70]:
df.iloc[0,1]

12